# Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [7]:
#BODMAS--bracket,off,division,multiplication,substraction
5+3*2

11

In [8]:
(5+3)*2

16

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [11]:
type(2.5)

float

In [12]:
type('s')

str

In [13]:
type('supriya')

str

In [20]:
a=10
b=20
c=a+b
type(c)

int

In [22]:
##boolean operation 
True or False

True

In [23]:
True and False

False

In [24]:
True | False

True

In [25]:
type(True|False)

bool

In [28]:
a=10
b=20
a+b>30 | a-b<10

True

In [29]:
a+b>30 | b-a<10

False

In [30]:
a+b>30 & a-b<10

False

In [31]:
a+b>30 & b-a<10

False

In [32]:
#### Strings 
type('supriya is a good girl')

str

In [33]:
type("supriya")

str

In [37]:
##dont use str as a variable name to store the strings as it is a reserved keyword

In [38]:
##type casting 
str(1)

'1'

In [42]:
str1="supriya is a good girl"

In [43]:
print(str1)

supriya is a good girl

In [44]:
print(a)

10

In [45]:
str1="good girl"
str2="bad girl"

In [46]:
print(str1)
print(str2)

good girl
bad girl

In [47]:
str1+"  "+str2

'good girl  bad girl'

In [48]:
##giving input 
name=input("enter your name")
print(name)

enter your namesupriya
supriya

In [54]:
##adding 2 numbers 
a=float(input("enter number 1?"))##typecasting to float 
b=float(input("enter number 2?"))
c=a+b
print("the output is",c)

enter number 1?45
enter number 2?45
the output is 90.0

In [61]:
##string formatting 
first_name=input("what is your first name ")
last_name=input("what is your last name ")
print("welcome to  the party",first_name,last_name)
##dot format in python 
print("my first name is {} and my last name is {}".format(first_name,last_name))
print("my first name is {firstname} and last name is {lastname}".format(lastname=last_name,firstname=first_name))

what is your first name Supriya
what is your last name Reddy
welcome to  the party Supriya Reddy
my first name is Supriya and my last name is Reddy
my first name is Supriya and last name is Reddy

In [ ]:
##variable dynamic typing

In [65]:
a=10
b=10.0
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [66]:
##strong typing
1+int("2")

3

In [67]:
"supriya"+ str("1")

'supriya1'

In [73]:
###conditional statements

##if and elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is ",c)
if c<0:
     print("the number is negative")
elif c>40:
    print("the difference is huge ")
elif c<10:
     print("the difference isnt that huge")
else:
    print("the number is positive")

enter the number 1?10
enter the number 2?10
the output is  0
the difference isnt that huge

###DATA STRUCTURES

1. list
2. tuple 
3. string 
4. dictionary
5. sets

In [74]:
##list 
##collection od heterogenous variables enclosed in square braces
lst=[1,2,3,'supriysa','reddy']
type(lst[3])

str

In [75]:
## list operations
lst.append("chinnu")

In [76]:
lst

[1, 2, 3, 'supriysa', 'reddy', 'chinnu']

In [77]:
lst[2]="data science"

In [78]:
lst

[1, 2, 'data science', 'supriysa', 'reddy', 'chinnu']

In [79]:
lst.append('supriya')

In [81]:
lst.append('supriya')

In [82]:
lst

[1, 2, 'data science', 'supriysa', 'reddy', 'chinnu', 'supriya', 'supriya']

In [83]:
lst.count('supriya')

2

In [84]:
##indexing
str1='supriya'
str1

'supriya'

In [85]:
str1[3]

'r'

In [ ]:
##str1[3]='i' ## cannot change single elements or item assignment /string is immutable/string can be changes entirely but not one chracters whereas

In [1]:
l1=[1,2,3,'s','u']
l2=[4,5,6,'p','r']
l1+l2

[1, 2, 3, 's', 'u', 4, 5, 6, 'p', 'r']

In [2]:
l1.append(l2)

In [3]:
l1

[1, 2, 3, 's', 'u', [4, 5, 6, 'p', 'r']]

In [5]:
l=list("supriya")

In [6]:
l

['s', 'u', 'p', 'r', 'i', 'y', 'a']

In [7]:
l1.extend(l2)

In [8]:
l1

[1, 2, 3, 's', 'u', [4, 5, 6, 'p', 'r'], 4, 5, 6, 'p', 'r']

In [9]:
print(len(l))

7

In [10]:
print(len(l1))

11

In [13]:
###counting starts from 1,indexing starts from 0
str1="supriya"
print(len(str1))
print(len(l))
l1

7
7

[1, 2, 3, 's', 'u', [4, 5, 6, 'p', 'r'], 4, 5, 6, 'p', 'r']

In [17]:
##sum of all the elements in the list 
##loops
##for loop 
l3=[1,2,3,4]
sum1=0 ##dont use sum as it iis reserved keyword
for i in l3:
    sum1=sum1+i
print(sum1)

10

In [19]:
l4=[1,3,4,6,7,8,9,2,3,4,5]
###sum of even number and odd numbers in the list
sum2=0
sum3=0
for i in l4:
    if i%2==0:
        sum2=sum2+i
    else:
        sum3=sum3+i
print("sum of even number in list is {} and sum of odd numbers in  list is {}".format(sum2,sum3))

sum of even number in list is 24 and sum of odd numbers in  list is 28

In [17]:
###for loop with else 
##summation of elements till 1 in the list given
l5=[4,5,3,6,1,7,2,7,8,9,3,6]
sum4=0
for i in l5:
    if i==1:
        break
    sum4=sum4+i
else:
     print("this message is compulsory")
print(sum4)

18

In [3]:
###find the sum of even and odd numbers if the even sum or odd sum is greater than 20 implement a break. if 20 is not there print else block statement 
l6=[4,4,3,6,7]
sum5=0
sum6=0
for i in l6:
    if(i%2==0):
        sum5=sum5+i
        if sum5>=20:
            break
    else:
        sum6=sum6+i
        if sum6>=20:
            break
else:
    print(sum5)
    print(sum6)

14
10

In [4]:
###while loop
###sum of n elements 
n=10
i=1
sum7=0
while i<=n:
    sum7=sum7+i
    i=i+1
print(sum7)

55

In [5]:
###sum of even and odd numbers using while loop
n=10
i=1
sum8=0
sum9=0
while i<=n:
    if i%2==0:
        sum8=sum8+i
    else:
        sum9=sum9+i
    i=i+1
print(sum8)
print(sum9)

30
25

In [10]:
###range () function 
###range is an inbuilt function where we can generate a sequence
range(4,10)
list(range(4,10))
range(4,10,2)##where 2 is step size)
list(range(4,10,2))

[4, 6, 8]

In [12]:
###continue statement 
for val in "string":
    if val=="i":
        continue ##skips i
    print(val)

s
t
r
n
g

Strings and List objects

In [13]:
##string basics
len("supriya")

7

In [14]:
##string indexing-helps to retrieve some elements inside string
s="supriya"
s

'supriya'

In [15]:
s[2]

'p'

In [16]:
s[0]

's'

In [17]:
s[:]

'supriya'

In [18]:
s[2:6] ##also called string slicing

'priy'

In [ ]:
##space is also considered as an element

In [19]:
s[-1]

'a'

In [20]:
s[:-1]

'supriy'

In [21]:
s[:-2]

'supri'

In [22]:
s[::]

'supriya'

In [23]:
s[::-1] ##reversing a string

'ayirpus'

In [34]:
##built in string methods
s="supriya is a good girl"
s.lower()
s.split()

['supriya', 'is', 'a', 'good', 'girl']

In [35]:
s.split(sep='is')

['supriya ', ' a good girl']

In [3]:
####location and counting
s='supriya'
s.find('y')

5

In [2]:
s.count('y')

1

In [5]:
s.center(20,' ')

'      supriya       '

In [6]:
s.center(20,'*')

'******supriya*******'

In [7]:
##expandtabs will expand the notations into spaces 
"hello\thi".expandtabs()

'hello   hi'

In [10]:
##is check methods
##s.islower
##s.isspace(if all char are spaces)
s.isalnum() ##alphanumeric checking

True

In [12]:
s="Supriya"
s.istitle() ##title starts with capital letters

True

In [14]:
s='supriya reddy'
s.split()

['supriya', 'reddy']