# Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [7]:
#BODMAS--bracket,off,division,multiplication,substraction
5+3*2

11

In [8]:
(5+3)*2

16

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [11]:
type(2.5)

float

In [12]:
type('s')

str

In [13]:
type('supriya')

str

In [20]:
a=10
b=20
c=a+b
type(c)

int

In [22]:
##boolean operation 
True or False

True

In [23]:
True and False

False

In [24]:
True | False

True

In [25]:
type(True|False)

bool

In [28]:
a=10
b=20
a+b>30 | a-b<10

True

In [29]:
a+b>30 | b-a<10

False

In [30]:
a+b>30 & a-b<10

False

In [31]:
a+b>30 & b-a<10

False

In [32]:
#### Strings 
type('supriya is a good girl')

str

In [33]:
type("supriya")

str

In [37]:
##dont use str as a variable name to store the strings as it is a reserved keyword

In [38]:
##type casting 
str(1)

'1'

In [42]:
str1="supriya is a good girl"

In [43]:
print(str1)

supriya is a good girl

In [44]:
print(a)

10

In [45]:
str1="good girl"
str2="bad girl"

In [46]:
print(str1)
print(str2)

good girl
bad girl

In [47]:
str1+"  "+str2

'good girl  bad girl'

In [48]:
##giving input 
name=input("enter your name")
print(name)

enter your namesupriya
supriya

In [54]:
##adding 2 numbers 
a=float(input("enter number 1?"))##typecasting to float 
b=float(input("enter number 2?"))
c=a+b
print("the output is",c)

enter number 1?45
enter number 2?45
the output is 90.0

In [61]:
##string formatting 
first_name=input("what is your first name ")
last_name=input("what is your last name ")
print("welcome to  the party",first_name,last_name)
##dot format in python 
print("my first name is {} and my last name is {}".format(first_name,last_name))
print("my first name is {firstname} and last name is {lastname}".format(lastname=last_name,firstname=first_name))

what is your first name Supriya
what is your last name Reddy
welcome to  the party Supriya Reddy
my first name is Supriya and my last name is Reddy
my first name is Supriya and last name is Reddy

In [ ]:
##variable dynamic typing

In [65]:
a=10
b=10.0
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [66]:
##strong typing
1+int("2")

3

In [67]:
"supriya"+ str("1")

'supriya1'

In [73]:
###conditional statements

##if and elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is ",c)
if c<0:
     print("the number is negative")
elif c>40:
    print("the difference is huge ")
elif c<10:
     print("the difference isnt that huge")
else:
    print("the number is positive")

enter the number 1?10
enter the number 2?10
the output is  0
the difference isnt that huge

###DATA STRUCTURES

1. list
2. tuple 
3. string 
4. dictionary
5. sets

In [74]:
##list 
##collection od heterogenous variables enclosed in square braces
lst=[1,2,3,'supriysa','reddy']
type(lst[3])

str

In [75]:
## list operations
lst.append("chinnu")

In [76]:
lst

[1, 2, 3, 'supriysa', 'reddy', 'chinnu']

In [77]:
lst[2]="data science"

In [78]:
lst

[1, 2, 'data science', 'supriysa', 'reddy', 'chinnu']

In [79]:
lst.append('supriya')

In [81]:
lst.append('supriya')

In [82]:
lst

[1, 2, 'data science', 'supriysa', 'reddy', 'chinnu', 'supriya', 'supriya']

In [83]:
lst.count('supriya')

2

In [84]:
##indexing
str1='supriya'
str1

'supriya'

In [85]:
str1[3]

'r'

##str1[3]='i' ## cannot change single elements or item assignment /string is immutable/string can be changes entirely but not one characters whereas in list we cann change items