In [6]:
##list comprehension
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1) 
##instead of using this we can write it using list comprehension
[i**2 for i in lst]

[1, 4, 9, 16]

[1, 4, 9, 16]

In [5]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [27]:
##even and odd no in list using for and if in list comprehension
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[i for i in lst if i%2==0]
lst2=[i for i in lst if i%2!=0]
print("even={}\todd={}".expandtabs().format(lst1,lst2))

even=[2, 4, 6, 8, 10] odd=[1, 3, 5, 7, 9]

In [28]:
sum(lst1)

30

Tuples

Tuples are immutable(doesnt support item assignment ),in tuples we use  basic bracket(),we can also convert list to tuples,tuples can have heterogenpus elements

In [32]:
t=tuple([1,2,3,4,5,'supriya']) ##list to tuple conversion
type(t)

tuple

In [4]:
t=('supriya','reddy')
t
##tuple comprehension and reversing 
[i[::-1] for i in t]

['ayirpus', 'ydder']

In [18]:
##inbuilt functions for tuples
t=(1,2,3,4,5,'supriya')
t.index(4)
t.count(5)
len(t)

6

tuples are used where immutability is not necessary

##Sets
sets are unordered collection of unique elements which can be constructed using set() function.

In [19]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [21]:
{1,2,2,2,2,3,4,5,6,7,7,7,7} ##set will give unique elements even thou it has same /repeated elements

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
type({}) ##this is considered as dict
type({1})##this is considered as set
x=set()   ##this is empty set

In [23]:
##set -inbuilt functions
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}
x1.add(6)
x1

{1, 2, 3, 4, 5, 6}

In [24]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [28]:
x1.intersection_update(x2) 
x1

{2, 3, 4, 5, 6}

In [30]:
x1={1,2,3,4,5}
x1.difference(x2)

{1}

In [33]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

True

In [34]:
x2.issuperset(x1)

True

sets are not subscriptable if you want to do indexing we have to convert set to list

##Dictionaries

combination of key value pairs /hash tables in other programming languages,dictionaries are not subscriptable

In [36]:
type({})

dict

In [37]:
var={1:'supriya',2:'reddy',3:21}

In [38]:
type(var)

dict

In [42]:
##indexing in dictionary
var.items()

dict_items([(1, 'supriya'), (2, 'reddy'), (3, 21)])

In [44]:
var.keys()

dict_keys([1, 2, 3])

in dictionaries keys must be unique but variable can be same

In [45]:
var[1]

'supriya'

keys can eithe be alphabets or numbers indexig is given accoording to the keys

In [46]:
var={'a':'supriya','b':'reddy','c':21}

In [48]:
var['b']

'reddy'

In [1]:
my_dict={'key1':123,'key2':[1,2,3],'key3':['supriya','reddy']}
my_dict['key2'][2]

3

 Nesting with Dictionaries

In [1]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [3]:
d['key1']['nestkey']['subnestkey']

'value'

Dictionary comprehensions

In [4]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Functions

In [7]:
##syntax
def func_name(parameter1,parameter2,......):
    statements

In [9]:
##sum of all even and odd numbers using functionn
def even_odd_sum(lst):
    sum1=0
    sum2=0
    for i in lst:
        if i%2==0:
            sum1=sum1+i
        else:
            sum2=sum2+i
    return sum1,sum2
even_odd_sum([1,2,3,4,5,6]) ##calling a function

(12, 9)

In [15]:
##adding two lists
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]
res_list=[]
def sum(lst1,lst2):
    for i in range(0,len(lst1)):
        res_list.append(lst1[i]+lst2[i])
    return res_list
sum(lst1,lst2)

[8, 10, 12, 14, 9, 11]

###iterators and generators

In [2]:
##list is iterable and mutable 
for i in  [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [3]:
##string is iterable but immutable  
for i in "supriya":
    print(i)

s
u
p
r
i
y
a

In [4]:
##tuples are also iterable but immutable
for i in("supriya",1,2,3):
    print(i)

supriya
1
2
3

In [14]:
####Iterator-can be created on iterable objects 
a=iter([1,2,3,4,5])
a

In [15]:
##lazy evaluation-unless and until u call that object or element it will not be loaded 
next(a) ##loading elements

1

###in lazy iteration/evaluation it takes only one memory location and stores one  element at a time and then the value will be iterated

In [16]:
next(a)

2

In [17]:
for i in a :
    print(i)

3
4
5

In [18]:
nest(a)##iteration is over and it doesnt load any elements

NameError: name 'nest' is not defined

##generator -main aim of generator is to create a iterator 
##yield keyword is used

In [19]:
###program to generate cube numbers(power of three) without using generator 
def getcubes(n):
    listofsquares=[]
    for i in range(0,n):
        listofsquares.append(i**3)
    return listofsquares

In [20]:
getcubes(6)##list is iterable but not iterator

[0, 1, 8, 27, 64, 125]

In [32]:
###progrm to generate cube numbers using generator function 
def gencubes(n):
    for num in range(n):
        yield num**3

In [50]:
output=gencubes(6)
output

In [51]:
for i in (output):
    print(i)

0
1
8
27
64
125

In [48]:
for i in(output):
    print(output) ##location of objects

<generator object gencubes at 0x000001ED32E3D040>
<generator object gencubes at 0x000001ED32E3D040>
<generator object gencubes at 0x000001ED32E3D040>
<generator object gencubes at 0x000001ED32E3D040>
<generator object gencubes at 0x000001ED32E3D040>
<generator object gencubes at 0x000001ED32E3D040>

In [2]:
##fibonacci series using generator 
def genfibon(n):
    a=0
    b=1
    for i in range (n):
        yield a  ###iterates the value of a 
        a=a,b=b,a+b

In [3]:
for i in (genfibon(10)):
    print(i,end=" ")

0 1 1 2 3 5 8 13 21 34

In [4]:
a=genfibon(10)
next(a)

0

In [6]:
next(a)

1

In [7]:
next(a)

1

In [8]:
next(a)

2

In [27]:
##printing fibonacci series using iterator 
def genfibon(n):
    lst=[]
    a=0
    b=1
    for i in range (n):
        lst.append(a)
        a=a,b=b,a+b
        return iter(lst)

In [28]:
a=genfibon(10)

In [21]:
a

In [22]:
next(a)

0

###in for loop we dont get stopiteration error because for loop handles exception by itself

##MAP

map is fuunction that takes in two arguments:
    
    1.A function.
    2.A sequence iterable.
in the form: map(function,sequence)

In [30]:
def square_num(x):
    return x*x
square_num(5)

25

In [31]:
square_num[1,2,3,4,5]

TypeError: 'function' object is not subscriptable

In [33]:
map(square_num,[1,2,3,4,5,6,7])

In [34]:
a=map(square_num,[1,2,3,4,5,6,7])

In [35]:
list(a)

[1, 4, 9, 16, 25, 36, 49]

In [36]:
a

In [38]:
list(a) ##iteration is over

[]

In [52]:
##converting temp into celsius or  fahrenheit
def fahrenheit(T):
    return ((float(9)/5)*T +32)
def celsius(T):
    return ((float(5)/9)*T -32)
temp =[0,22.5,40,100]
list(map(fahrenheit,temp))

[32.0, 72.5, 104.0, 212.0]

In [43]:
list(map(celsius,temp))

[-32.0, -19.5, -9.777777777777779, 23.555555555555557]

In [49]:
###lambda function
##it is a function without any function name and works faster that other function
##also called anonymus function
a=map(lambda x:x*x,[1,2,3,4,5])

In [50]:
list(a)

[1, 4, 9, 16, 25]

In [54]:
list(map(lambda x:((float(9)/5)*x +32),temp))

[32.0, 72.5, 104.0, 212.0]

In [57]:
###using lambda without map 
a=lambda x:x*x

In [59]:
a(20)

400

In [1]:
###lambda with two parameters/arguments 
a=lambda x,y:(x+y,x-y)

In [2]:
a(6,7)

(13, -1)

#Reduce function ()
##combines series of numbers by adding  to reduce it to one number
##reduce returns single value while map returns list of values

In [5]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "")

In [1]:
from functools import reduce ##import reduce from library functools

In [ ]:
reduce()

In [6]:
##find maximum of a sequence 
max_find=lambda a,b:a if (a>b) else b
max_find(10,12)

12

In [7]:
##using reduce we can find for sequence of no
lst=[47,111,42,13]

In [8]:
reduce(max_find,lst)

111

In [16]:
##to find the sum of sequence using reduce 
sum1=lambda x,y:x+y

In [17]:
lst=[10,20,30,40]
reduce(sum1,lst)

100